progress-bar-row .label-middle span {
  left: -1em;
  position: relative;
}

progress-bar-row .progress-label {
  text-align: center;
  white-space: nowrap;
  top: 0;
  width: 1px;
  overflow: visible;
  position: absolute;
}

progress-bar-row .label-last {
  display: flex;
  justify-content: flex-end;
}

progress-bar-row .level:hover {
  background-color: aqua;
}

progress-bar-row .level-reached,
progress-bar-row .level-reached-overflown {
  background-color: #6aa549;
}

progress-bar-row .level-potential,
progress-bar-row .level-potential-overflown {
  background-color: #c8e1bd;
}

progress-bar-row .bar-section {
  /* allow hover to work */
  pointer-events: none;
}
progress-bar-row .bar-section,
progress-bar-row .level {
  border: 1px solid #888;
  border-radius: 5px;
  height: 38px;
  top: 22px;
  position: absolute;
}

progress-bar-row .level {
  border-color: transparent;
}

progress-bar-row .level-reached-overflown {
  border-right-color: #888;
}

progress-bar-row .level-potential {
  border-left-color: #888;
}

progress-bar-row {
  display: block;
  height: 60px;
  width: 100%;
  position: relative;
}
